.search{
    padding: 5px;
    background-color: turquoise;
    color: black;
    height: 40px;
    width: 40px;
    margin-top: 4px;
    border: none;
    cursor: pointer;
}
.search:hover{
    background-color: chartreuse;
    transition: 0.2s linear;
}
.searchBlock{
    display: flex;
}